@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr;
}

/* SIDEBAR STYLES */
.sidebar-container {
  background-color: rgba(25, 146, 212, 255);
  color: white;
  font-weight: bold;
  grid-row: 1 / 3;
  padding: 2rem;
}

.sidebar-header {
  display: flex;
  align-items: center;
  font-size: 1.75rem;
}

.sidebar-header .material-symbols-outlined {
  font-size: 1.5em;
  margin-right: 0.25em;
}

.sidebar-list {
  margin-top: 3rem;
  font-size: 1.2rem;
  display: grid;
  gap: 1.5rem;
}

.material-symbols-outlined {
  font-size: 1.5em;
}

.sidebar-list li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-container {
  grid-column: 2 / 3;
}

li {
  list-style: none;
}

/* HEADER STYLES */
.header-container {
  box-shadow: 0px 2px 3px rgb(175, 175, 175);
  font-weight: bold;
  padding: 1rem 2.5rem;
}

.header-top-side {
  display: flex;
  justify-content: space-between;
}

.header-top-side-searchbar,
.header-top-side-searchbar form {
  display: flex;
  align-items: center;
}

.header-top-side-searchbar form .material-symbols-outlined {
  margin-right: 1rem;
}

.header-top-side-searchbar form input {
  padding-left: 10px;
  width: 45vw;
  max-width: 471px;
  height: 25px;
  background-color: rgba(226, 232, 240, 255);
  border: none;
  border-radius: 15px;
}

.header-top-side-profile {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header-top-side-profile .cat-logo {
  width: 40px;
  border-radius: 50%;
}

.header-bottom-side {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.header-bottom-side-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.greeting {
  font-size: 0.7em;
}

.name {
  font-size: 1.5em;
}

.header-bottom-side-profile .cat-logo {
  width: 60px;
  border-radius: 50%;
}

.header-bottom-side-posts {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-bottom-side-posts button {
  color: white;
  font-weight: 700;
  background-color: rgba(25, 146, 212, 255);
  width: 75px;
  height: 30px;
  border-radius: 15px;
  border: none;
  gap: 1rem;
}

.header-bottom-side-posts button:hover {
  cursor: pointer;
  transform: none;
  -webkit-transform: scale(1.07);
}

/* MAIN CONTENT STYLES */
.main-container {
  background-color: rgba(226, 232, 240, 255);
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.main-projects {
  grid-column: 1 / 2;
}

.main-projects h4 {
  font-size: 1.3em;
  margin-bottom: 0.5rem;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
}

.main-project {
  background-color: white;
  height: 190px;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(
    left,
    #88c7ff,
    #88c7ff 2%,
    transparent 2%,
    transparent 100%
  );
  padding: 1.3rem;
}

.main-project h3 {
  font-weight: bold;
}

.main-project p {
  font-size: 13px;
  color: rgb(88, 88, 88);
}

.main-project-icons {
  padding-top: 4rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.announcements {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.trending {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
